
h3{

    padding-left: 10px;

    font-family :Georgia, 'Times New Roman', Times, serif;

}

form

{

    padding-left: 20px;

    width: 50%;

}
.signin

{

    padding-left: 17%;

}

.image

{

    width: 30%;

    padding-top: 50px ;

    padding-left: 15px;

    margin-left: 15px;

    float: right;

}