
       
      row:nth-of-type(n+2) {
        margin-top: 160px;
      }
    
      
      row:last-of-type {
        margin-bottom: 160px;
      }
    
    .feature-icon {
      max-width: 40%;
    }

    .jumbotron {
      position: relative;
      background: url(https://cdn.pixabay.com/photo/2015/05/31/13/45/working-791849__480.jpg) no-repeat bottom center / cover; ;
      background-repeat: no-repeat;
      background: cover ;  
      position: relative;
        content: '';
        left: 0;
        width: 100%;
        height: 600%;
       
      }

      .container {
        padding: 75px 0;
      }
      
      h1{
        color: black;
        font-weight: bolder;
      }
      .lead {
        color:black;
        align-content: center;
      }
    

      *,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.container .btn-1 {
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin: 20px 30px;
  background: darkslateblue;
}
.container span {
  display: block;
  padding: 13px 18px;
}
.container .btn-1::before,
.container .btn-1::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  
}

.container span::before,
.container span::after {
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: blue;
}
.container .btn-1:hover::before,
.container .btn-1:hover::after {
  width: 100%;
}
.container .btn-1:hover span::before,
.container .btn-1:hover span::after {
  height: 100%;
}

.container .btn-1::before,
.container .btn-1::after {
  transition-delay: 0.2s;
}
.container .btn-1 span::before,
.container .btn-1 span::after {
  transition-delay: 0s;
}
.container .btn-1::before {
  right: 0;
  top: 0;
}
.container .btn-1::after {
  left: 0;
  bottom: 0;
}
.container .btn-1 span::before {
  left: 0;
  top: 0;
}
.container .btn-1 span::after {
  right: 0;
  bottom: 0;
}
.btn-1:hover::before,
.btn-1:hover::after {
  transition-delay: 0s;
}
.container .btn-1:hover span::before,
.container .btn-1:hover span::after {
  transition-delay: 0.2s;
}