 <header>
   <div>
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">RESUME GENERATOR</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">RESUME GENERATOR</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/login']">LOGIN</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/signup']">SIGNUP</a><br>
                </li>
              </ul>
            </div>
        </div>
      </div>
    </nav></div></header>
    <body>
   
<app-profile></app-profile>

<app-add-education></app-add-education><br><br>

<app-add-experience></app-add-experience>

<div class="container-fluid">
<button type="submit" (click)="save()"  class="btn" [routerLink]="['/homepage']"> Submit</button> <!--onclick="openPopup()-->
</div>




    <!-- Footer -->
    <footer class="bg-dark text-center text-white">
      <!-- Grid container -->
      <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
          <i class="bi bi-facebook"></i>
          </a>
    
          <!-- Twitter -->
          <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="bi bi-twitter"></i>
          </a>
    
          <!-- Google -->
          <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="bi bi-google"></i>
          </a>
    
          <!-- Instagram -->
          <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="bi bi-instagram"></i>
          </a>
    
          <!-- Linkedin -->
          <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="bi bi-linkedin"></i>
          </a>
    
          <!-- Github -->
          <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="bi bi-github"></i>
          </a>
        </section>
    </div>
    </footer>
  </body>
